.map-cell{
	position: absolute;
	height: 75px;
	width: 75px;
	border: 1px solid black;
	background-color: #888;
	color: white;
	font-size: 18px;

	&:hover {
		background-color: rgba(106,106,106, .5);
	}

	&.map-cell_moveable,
	&.map-cell_attackable {
		cursor: pointer;
	}

	&.map-cell_moveable {
		background-color: blue;
	}

	&.map-cell_attackable {
		background-color: red;
	}
}