.map-level {
	position: absolute;
	top: 0;
	left: 0;

	& + .map-level {
		transform: translate(-5px, -5px);
	}

	& + .map-level + .map-level {
		transform: translate(-10px, -10px);
	}

	& + .map-level + .map-level + .map-level {
		transform: translate(-15px, -15px);
	}
}